{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<h1>Profile</h1>

<section>
    <h2>Personal Data</h2>
    <p>Name: {{ current_user.username }}</p>
    <p>Email: {{ current_user.email }}</p>
    <a class="update-button" href="/account/user_update" class="button">Edit Profile</a>
</section>
<section>
    <h2>My Sites</h2>
    <table>
      <thead>
        <tr>
          <th>Site Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for site in sites %}
        <tr>
          <td><a href="{{ url_for('vpn.proxy_site', site_name=site.name, original_url=site.url) }}">{{ site.name }}</a></td>
          <td>
            <a class="update-button" href="{{ url_for('profile.update_site', site_id=site.id) }}">Update</a>
            <a class="delete-button" href="{{ url_for('profile.delete_site', site_id=site.id) }}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{{ url_for('profile.create_site') }}">
        <button class="add-button">Add site</button>
    </a>
</section>

{% endblock %}